<%# locals: (user:) -%>

<span class="internet-badge">
  <% if not user.internet_access? %>
    <%= svg_icon_tag 'cross' %>
    No Internet
  <% elsif user.internet_expiration < Time.current + 7.days %>
    <% svg_icon_tag 'icon_internet' %>
    Internet expires soon
  <% else %>
    <%= svg_icon_tag 'check' %>
    Internet
  <% end %>
</span>
