# See https://leethax.org/2017/11/17/systemd-timers.html
# and https://wiki.archlinux.org/title/Systemd/Timers
[Timer]
# Run the service every 24 hours
OnActiveSec=24h
OnUnitActiveSec=24h

[Install]
WantedBy=timer.target
