[Unit]
Description=Lea5 - Sync users between Keycloak and Lea5

[Service]
# Command runs once then exists, it is not a background service
Type=oneshot

ExecStart=/opt/lea5/bin/rails lea5:sync_accounts
