<%= form_with(url: search_path, method: :get) do |f| %>
    <div>
        <%= f.text_field :q, required: true, placeholder: 'Type your search here...'%>
    </div>
    <%= f.button "search", name: nil do%>
        <%= svg_icon_tag "icon_search" %>
    <% end %>
<% end %>
