<% if object.errors.any? %>
  <div class="alert alert-error">
    <div>
      The form contains <%= pluralize(object.errors.count, "error") %>:
    </div>
    <ul class="error_messages">
      <% object.errors.full_messages.each do |msg| %>
        <li>- <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
