<%# locals: () -%>

<%= form_with(model: @api_key, class: 'form') do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  <div>
    <%= f.submit yield(:button_text) %>
  </div>
<% end %>
