.subscription {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--padding-md)*2);
}

.subscription_cancelled {
    text-decoration: line-through;
}

.subscription span span:first-child {
    font-weight: var(--font-bold);
    overflow: hidden;
    text-overflow: ellipsis;
}
.subscription span:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: end;
}

.subscription svg {
    fill: var(--primary-600);
}
