.button-secondary {
    background-color: transparent;
    color: var(--primary-600);
    border-radius: var(--rounded-lg);
    letter-spacing: var(--spacing-lg);
    font-size: var(--text-sm);
    text-transform: uppercase;
    border: 2px solid var(--primary-600);
    font-weight: var(--font-bold);
    padding: var(--padding-xs) var(--padding-md);
    margin-bottom: var(--padding-md);
    display: flex;
    align-items: center;
}

.button-secondary svg {
    padding-left: var(--padding-sm);
    fill: var(--primary-500);
}
