.title {
    font-size: var(--text-lg);
    color: var(--gray-500);
    font-weight: var(--font-medium);
    margin-bottom: var(--padding-md);
}

.container {
    display: grid;
}

.divider {
    width: 1px;
    background-color: var(--primary-500);
    margin: var(--padding-md);
}

.card {
    padding: calc(var(--padding-md)*2);
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-column: 1 / 2;
    padding-right: 0;
}

.card-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    max-height: 30vh;
    overflow-y: auto;
}

.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--padding-md);
}

.card-title svg {
    fill: var(--primary-500);
    background-color: var(--primary-300);
    border-radius: 100%;
    border: var(--padding-xs) solid var(--primary-300);
    margin-right: var(--padding-sm);
}

.card-user {
    grid-row: 1/2;
    background-color: white;
}

.card-details-user {
    border-left: 0.4rem solid var(--primary-600);
}

.card-content-user {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: var(--padding-xs);
    column-gap: var(--padding-md);
    font-size: var(--text-md);
    color: var(--gray-800);
    font-weight: var(--font-medium);
}

.card-machines {
    grid-row: 2/3;
    background-color: var(--primary-100);
}

.card-details-machines {
    border-left: 0.4rem solid var(--primary-400);
}

.card-content-machines {
    flex: 2;
    font-size: var(--text-md);
    color: var(--gray-800);
    font-weight: var(--font-medium);
    grid-column: 2 / 3;
    display: grid;
    row-gap: var(--padding-md);
}

.card-content-machines > * + * {
    border-top: solid var(--primary-200) 2px;
    padding-top: var(--padding-md);
}

.card-subscriptions {
    grid-row: 3/4;
    background-color: white;
}

.card-details-subscriptions {
    border-left: 0.4rem solid var(--primary-600);
}

.card-content-subscriptions {
    flex: 2;
    font-size: var(--text-md);
    color: var(--gray-800);
    font-weight: var(--font-medium);
    grid-column: 2 / 3;
    display: grid;
    row-gap: var(--padding-md);
}

.card-content-subscriptions > * + * {
    border-top: solid var(--primary-200) 2px;
    padding-top: var(--padding-md);
}

.card-free-accesses {
    grid-row: 4/5;
    background-color: var(--primary-100);
}

.card-details-free-accesses {
    border-left: 0.4rem solid var(--primary-400);
}

.card-content-free-accesses {
    flex: 2;
    font-size: var(--text-md);
    color: var(--gray-800);
    font-weight: var(--font-medium);
    grid-column: 2 / 3;
    display: grid;
    row-gap: var(--padding-md);
}

.card-content-free-accesses > * + * {
    border-top: solid var(--primary-200) 2px;
    padding-top: var(--padding-md);
}

.card-content-user-details {
    display: flex;
    align-items: center;
}

.card-content-user-details svg {
    fill: var(--primary-500);
    width: var(--text-md);
}

.card-content-user-details button {
    display: flex;
    margin-left: var(--padding-xs);
    border-radius: 20%;
}

.card-content-user-details .copy-message {
    position: absolute;
    font-size: var(--text-sm);
    font-weight: bold;
    transition: all 0.1s;
    opacity: 0;

    visibility: hidden;
}