<header>
  <nav>
    <ul>
      <li>
        <%= link_to "Lea5", root_path, class: "logo" %>
      </li>
      <% if can? :read, User %>
        <li>
          <%= link_to "Users", users_path %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div>
    <% if not logged_in? %>
      <%= button_to(
            "Login",
            AUTH_PATH,
            method: :post,
            class: "login_button",
            'aria-label': "Log in",
            data: { turbo: false }
          ) %>
    <% else %>
      <%= button_to(
            "Logout",
            logout_path,
            method: :delete,
            class: "logout_button",
            'aria-label': "Log out",
            data: { turbo: false }
          ) %>
    <% end %>
  </div>
</header>
